@media(max-width: 1120px) {
    main { padding: 10px 50px; }
}
@media(max-width: 1000px) {
    .desk {
        display: none;
    }
}
@media(max-width: 900px) {
    .container {
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .main_block, .main_text, a.tg_block {
        margin: 0;
        display: block;
        text-align: center;
    }
    p.main {
        margin: auto;
        text-align: center;
    }
    a.join, img.main_art {
        margin: auto;
        margin-top: 30px;
    }
    .slider {
        margin: 0 -50px;
        padding: 0 50px;
    }
}
@media(max-width: 700px) {
    main {
        padding: 10px 30px;
    }
    .slider {
        margin: 0 -30px;
        padding: 0 30px;
    }
}
@media(max-width: 500px) {
    a.logo {
        margin: 0;
    }
    img.main_art {
        width: 100%;
    }
    p.main {
        font-size: 30px;
    }
}
@media(max-width: 360px) {
    svg.logo {
        display: none;
    }
    img.logo_mini {
        display: block;
    }
    p.main {
        font-size: 20px;
    }
    p.logo {
        display: none;
    }
}